/*
 * Skin: Blue
 * ----------
 */
@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree&display=swap");
body,
html {
  font-family: "Bai Jamjuree", sans-serif;
}

.brand-link .brand-image {
  float: left;
  line-height: 0.8;

  margin-top: -3px;
  max-height: 33px;
  width: auto;
}

.brand-link {
  display: block;
  font-size: 1.25rem;
  line-height: 1.5;
  padding-top: 0.8125rem !important;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0.8125rem !important;
  transition: width 0.3s ease-in-out;
  white-space: nowrap;
}

.user-header {
  background-color: #ff4d00;
}

.navbar {
  background-color: #ff4d00;
}

